<!DOCTYPE html>
<html lang="en">

<body data-rsssl="1" class="archive post-type-archive post-type-archive-product theme-mazano woocommerce-shop woocommerce woocommerce-page woocommerce-js kt_used_header_6 Mazano-1.3.3 wpb-js-composer js-comp-ver-6.7.0 vc_responsive currency-usd">
    <div id="yith-wcwl-popup-message" style="display: none;">
        <div id="yith-wcwl-message"></div>
    </div>

    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Shopping Cart</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="img/cart/cart1.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>Minimalistic shop for multipurpose use</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$360.00</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <h5>$720.00</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="img/cart/cart2.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>Minimalistic shop for multipurpose use</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$360.00</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <h5>$720.00</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="img/cart/cart3.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>Minimalistic shop for multipurpose use</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$360.00</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <h5>$720.00</h5>
                                </td>
                            </tr>

                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>$2160.00</h5>
                                </td>
                            </tr>
                            <tr class="shipping_area">
                                <td class="d-none d-md-block">

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Shipping</h5>
                                </td>
                                <td>
                                    <div class="shipping_box">
                                        <ul class="list">
                                            <li><a href="#">Flat Rate: $5.00</a></li>
                                            <li><a href="#">Free Shipping</a></li>
                                            <li><a href="#">Flat Rate: $10.00</a></li>
                                            <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td class="d-none-l">

                                </td>
                                <td class="">

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="primary-btn ml-2" href="/confirmation">Proceed to checkout</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->


    <!-- Thanh cuộn Trở về đầu trang. -->
    <a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;"><i class="fa fa-angle-up"></i></a>
    <!-- Thanh cuộn Trở về đầu trang. -->

    <!-- Hiển thị thanh search, My account-->
    <script src="https://mazano.b-cdn.net/wp-content/cache/minify/91066.js"></script>
    <script id="kutetheme_ovic_script-js-extra">
        var kt_ajax_fontend = {
            "ajaxurl": "https:\/\/mazano.kutethemes.net\/wp-admin\/admin-ajax.php",
            "security": "6c57cfe531"
        };
        var kt_ajax_fontend = {
            "ajaxurl": "https:\/\/mazano.kutethemes.net\/wp-admin\/admin-ajax.php",
            "security": "6c57cfe531"
        };
        var kt_ajax_fontend = {
            "ajaxurl": "https:\/\/mazano.kutethemes.net\/wp-admin\/admin-ajax.php",
            "security": "6c57cfe531"
        };
        var kt_fontend_global_script = {
            "popup_delay_on": "0",
            "enable_popup_newsletter": "no",
            "enable_popup_newsletter_mobile": "yes",
            "enable_sticky_header_mobile": "no",
            "enable_product_thumb_slide": "yes",
            "product_galeries_slide_lg_items": "4",
            "product_galeries_slide_md_items": "4",
            "product_galeries_slide_sm_items": "3",
            "product_galeries_slide_xs_items": "2",
            "product_galeries_slide_ts_items": "1",
            "notice_enable": "yes",
            "notice_title": "Notice",
            "notice_duration": "3000",
            "notice_update_cart_text": "Your cart was updated",
            "added_to_cart_text": "has been added to cart!",
            "wishlist_url": "https:\/\/mazano.kutethemes.net\/wishlist\/",
            "browse_wishlist_text": "Browse Wishlist",
            "added_to_wishlist_text": "Product added!",
            "ajax_single_add_to_cart": "yes"
        };
    </script>
    <script src="https://mazano.b-cdn.net/wp-content/cache/minify/8f090.js"></script>
    <script id="wc-price-slider-js-extra">
        var woocommerce_price_slider_params = {
            "currency_format_num_decimals": "0",
            "currency_format_symbol": "$",
            "currency_format_decimal_sep": ".",
            "currency_format_thousand_sep": ",",
            "currency_format": "%v%s"
        };
    </script>
    <script src="https://mazano.b-cdn.net/wp-content/cache/minify/3955a.js"></script>
    <script id="wp-util-js-extra">
        var _wpUtilSettings = {
            "ajax": {
                "url": "\/wp-admin\/admin-ajax.php"
            }
        };
    </script>
    <script src="https://mazano.b-cdn.net/wp-content/cache/minify/76d15.js"></script>
    <script id="wc-add-to-cart-variation-js-extra">
        var wc_add_to_cart_variation_params = {
            "wc_ajax_url": "\/?wc-ajax=%%endpoint%%",
            "i18n_no_matching_variations_text": "Sorry, no products matched your selection. Please choose a different combination.",
            "i18n_make_a_selection_text": "Please select some product options before adding this product to your cart.",
            "i18n_unavailable_text": "Sorry, this product is unavailable. Please choose a different combination."
        };
    </script>
    <!-- Hiển thị thanh search, My account-->

    <script src="vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="vendors/skrollr.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="vendors/jquery.ajaxchimp.min.js"></script>
    <script src="vendors/mail-script.js"></script>
    <script src="js/main.js"></script>

</body>

</html>