<div class="container">
    <div class="menu">
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Upload</a></li>
            <li><a href="#">Addresses</a></li>
            <li><a href="#">Account Details</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
    <div class="content1">
        <label>Book's name*</label> <br>
        <input type="text"> <br>
        <label>Types*</label> <br>
        <input type="text"> <br>
        <label>Author name*</label> <br>
        <input type="text"> <br>
        <p>Decription</p>

    </div>
    <div class="content2">
        <label>Upload image</label> <br>
        <input type="text"> <br>
        <label>Published year*</label> <br>
        <input type="text"> <br>
    </div>
</div>
<div class="inputde">
    <input type="text" id="inputdecri"> <br>
    <button>UPLOAD</button>
</div>