<!-- asus start -->
<div class="fashion_section">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Asus</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Laptop ASUS TUF Gaming F15 FX506LH HN002T</h4>
                                    <p class="price_text">Price <span style="color: #262626;">22,000,000₫</span></p>
                                    <div class="tshirt_img"><img
                                            src="images/hn002t_9702ad2e89f442ca838f4daeb978d93a.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="/detail">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Laptop Gaming Asus ROG Strix G15 G513IH HN015T</h4>
                                    <p class="price_text">Price <span style="color: #262626;">23,000,000₫</span></p>
                                    <div class="tshirt_img"><img
                                            src="images/rog_strix_g15_g513ih_hn015t_9e61847a6b8245e9ab9fa32cc2ffb6ba.png">
                                    </div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="/detail">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Laptop Gaming Asus ROG Zephyrus G15 GA503QC</h4>
                                    <p class="price_text">Price <span style="color: #262626;">33,000,000₫</span></p>
                                    <div class="tshirt_img"><img
                                            src="images/laptop_gaming_asus_rog_zephyrus_g15_ga503qc_hn074t_b2b8c8f86e884497999c729c7588d5cb.png">
                                    </div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="/detail">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Asus</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Laptop ASUS TUF Gaming F15 FX506LH HN002T</h4>
                                    <p class="price_text">Price <span style="color: #262626;">22,000,000₫</span></p>
                                    <div class="tshirt_img"><img
                                            src="images/hn002t_9702ad2e89f442ca838f4daeb978d93a.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="/detail">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Laptop Gaming Asus ROG Strix G15 G513IH HN015T</h4>
                                    <p class="price_text">Price <span style="color: #262626;">23,000,000₫</span></p>
                                    <div class="tshirt_img"><img
                                            src="images/rog_strix_g15_g513ih_hn015t_9e61847a6b8245e9ab9fa32cc2ffb6ba.png">
                                    </div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="/detail">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Laptop Gaming Asus ROG Zephyrus G15 GA503QC</h4>
                                    <p class="price_text">Price <span style="color: #262626;">33,000,000₫</span></p>
                                    <div class="tshirt_img"><img
                                            src="images/laptop_gaming_asus_rog_zephyrus_g15_ga503qc_hn074t_b2b8c8f86e884497999c729c7588d5cb.png">
                                    </div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="/detail">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Asus</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Laptop ASUS TUF Gaming F15 FX506LH HN002T</h4>
                                    <p class="price_text">Price <span style="color: #262626;">22,000,000₫</span></p>
                                    <div class="tshirt_img"><img
                                            src="images/hn002t_9702ad2e89f442ca838f4daeb978d93a.png"></div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="/detail">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Laptop Gaming Asus ROG Strix G15 G513IH HN015T</h4>
                                    <p class="price_text">Price <span style="color: #262626;">23,000,000₫</span></p>
                                    <div class="tshirt_img"><img
                                            src="images/rog_strix_g15_g513ih_hn015t_9e61847a6b8245e9ab9fa32cc2ffb6ba.png">
                                    </div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="/detail">See More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Laptop Gaming Asus ROG Zephyrus G15 GA503QC</h4>
                                    <p class="price_text">Price <span style="color: #262626;">33,000,000₫</span></p>
                                    <div class="tshirt_img"><img
                                            src="images/laptop_gaming_asus_rog_zephyrus_g15_ga503qc_hn074t_b2b8c8f86e884497999c729c7588d5cb.png">
                                    </div>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="/detail">See More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!-- asus end -->