<!DOCTYPE html>
<html lang="en">
<head>
  <!--<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop</title>
	<link rel="icon" href="/img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
  	<link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
  	<link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

  <link rel="stylesheet" href="/scss/style.css">-->

    <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/gd.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
        href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Zen+Kurenaido&display=swap"
        rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
      <link rel="stylesheet" href="/js/gd.js">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
      <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
      <link rel="stylesheet" href="./style.css">
      <title>Document</title>
      <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
      <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
</head>

<body>
  <!--================ Start Header Menu Area =================-->
	<!--<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="/"><img src="/img/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Cửa hàng</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/products">Sản phẩm</a></li>
                  <li class="nav-item"><a class="nav-link" href="cart.html">Giỏ hàng</a></li>
                  {{#if user}}
                    <li class="nav-item"><a class="nav-link" href="checkout.html">Thanh toán</a></li>
                    <li class="nav-item"><a class="nav-link" href="/confirmation">Xác nhận đơn hàng</a></li>
                    <li class="nav-item"><a class="nav-link" href="tracking-order.html">Theo dõi đơn hàng</a></li>
                  {{/if}}
                </ul>
							</li>
              <li class="nav-item"><a class="nav-link" href="contact.html">Liên hệ</a></li>
            </ul>

            <ul class="nav-shop">
              <li class="nav-item"><button><i class="ti-search"></i></button></li>
              <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
{{!--               <li class="nav-item"><a class="button button-header" href="#">Buy Now</a></li> --}}
            </ul>
            {{#if user}}
            <a class="button button-login-header" href="/account/{{user._id}}">Hello, {{user.username}}</a>
            <a class="button button-login-header" href="/logout">Đăng xuất</a>
            {{else}}
            <a class="button button-login-header" href="/login">Đăng nhập</a>
            {{/if}}
          </div>
        </div>
      </nav>
    </div>
  </header>-->
  <section id="head">
  <div class="header">
     <div class="container-fluid">
              <a href="/"><p>Welcome to our online book store!</p></a>
              <ul>
                <li><a href="#" data-toggle="model" data-target="#myModel"><i class="fas fa-user"></i></a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <div class="container2">
              <input type="text" placeholder="Search...">
              <div class="search"></div>
            </div>
  </div>
  </section>
	<!--================ End Header Menu Area =================-->

	{{{body}}}

  <!--================ Start footer Area  =================-->
	<!--<footer class="footer">
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Our Mission</h4>
							<p>
								So seed seed green that winged cattle in. Gathering thing made fly you're no
								divided deep moved us lan Gathering thing us land years living.
							</p>
							<p>
								So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved
							</p>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Quick Links</h4>
							<ul class="list">
								<li><a href="/">Home</a></li>
								<li><a href="/products">Shop</a></li>
								<li><a href="/login">Login</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title">Gallery</h4>
							<ul class="list instafeed d-flex flex-wrap">
								<li><img src="/img/gallery/r1.jpg" alt=""></li>
								<li><img src="/img/gallery/r2.jpg" alt=""></li>
								<li><img src="/img/gallery/r3.jpg" alt=""></li>
								<li><img src="/img/gallery/r5.jpg" alt=""></li>
								<li><img src="/img/gallery/r7.jpg" alt=""></li>
								<li><img src="/img/gallery/r8.jpg" alt=""></li>
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-location-arrow"></span>
									Head Office
								</p>
								<p>123, Main Street, Your City</p>

								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Phone Number
								</p>
								<p>
									+123 456 7890 <br>
									+123 456 7890
								</p>

								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
									free@infoexample.com <br>
									www.infoexample.com
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">
						Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p>
				</div>
			</div>
		</div>
	</footer>-->
	  <section id="footer">
        <div class="container" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <div class="logo">
            <img src="./images/263514110_212970104327196_4588598670760073787_n.png" alt="" width="200px" height="80px">
            <p>© NG4VH BOOKS</p>
          </div>
          <div class="menu" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500"
            data-aos-duration="500">
            <ul>
              <li><a href="#">MY ORDERS</a></li>
              <li><a href="#">COMPARE ITEMS</a></li>
              <li><a href="#">SHOPPING BAG</a></li>
              <li><a href="#">INFO</a></li>
            </ul>
          </div>
          <div class="icon">
            <ul class="social_icon" data-aos="zoom-out-left">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
            </ul>
          </div>
        </div>
        </div>
        <div class="last">
          <p>© DESIGN BY GROUP 4 - 2021</p>
      </section>


	<!--================ End footer Area  =================-->

</body>
</html>