.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 54px;
}
.u-section-2 {
  background-image: url("../images/abstract-black-yellow-background-grunge-tire-tracks-yellow-tire-track-wallpaper-131295405.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 827px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 29px;
  background-image: none;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 785px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 16px;
}

.u-section-2 .u-gallery-1 {
  height: 699px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 27px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 244px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 541px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-line-1 {
  width: 453px;
  transform-origin: right center 0px;
  margin: 0 auto 0 19px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 23px 41px 0 19px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  text-align: left;
  margin: 19px 428px 0 19px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  text-align: left;
  margin: -29px 255px 0 147px;
}

.u-section-2 .u-text-5 {
  text-align: left;
  font-size: 1.125rem;
  margin: -1px 255px 0 147px;
}

.u-section-2 .u-text-6 {
  text-align: left;
  font-size: 1.125rem;
  margin: -29px 424px 0 19px;
}

.u-section-2 .u-text-7 {
  text-align: left;
  font-size: 1.125rem;
  margin: 0 410px 0 19px;
}

.u-section-2 .u-text-8 {
  text-align: left;
  font-size: 1.125rem;
  margin: -29px 261px 0 153px;
}

.u-section-2 .u-line-2 {
  width: 453px;
  transform-origin: right center 0px;
  margin: 21px auto 0 19px;
}

.u-section-2 .u-text-9 {
  text-align: left;
  font-size: 1.875rem;
  margin: 23px 41px 0 19px;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  margin: 20px 30px 0;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-4 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-5 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-6 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 14px auto 0;
  padding: 14px 91px 16px 90px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 337px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 647px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 89px;
    height: 89px;
  }

  .u-section-2 .u-carousel-control-1 {
    top: 122px;
  }

  .u-section-2 .u-carousel-control-2 {
    top: 122px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 202px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 446px;
  }

  .u-section-2 .u-line-1 {
    width: 423px;
    height: 3px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 183px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -469px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 242px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -38px;
    margin-right: 257px;
    margin-left: 156px;
  }

  .u-section-2 .u-line-2 {
    width: 423px;
    height: 3px;
    margin-top: 57px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 65px;
    height: 65px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-line-1 {
    width: 324px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 233px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 240px;
    margin-left: 117px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -18px;
    margin-right: 48px;
    margin-left: 117px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -12px;
    margin-right: 223px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 0;
    margin-right: 209px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -52px;
    margin-right: 38px;
    margin-left: 125px;
  }

  .u-section-2 .u-line-2 {
    width: 324px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-carousel-thumbnail-2 {
    width: 56px;
    height: 56px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
  }
}
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 588px;
}

.u-section-3 .u-tabs-1 {
  min-height: 468px;
  margin: 60px auto 60px 0;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 655px 0 0;
}

.u-section-3 .u-table-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-block-9b94-39 {
  background-image: none;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  margin-left: 0;
  margin-right: 0;
  border-style: solid;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-3 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 95px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}
